/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #292d4f;
}
.close__btn:hover {
	color: #f55050;
	transition: 0.3s ease;
}
.clear__list:hover {
	color: #f55050;
	transition: 0.3s ease;
}
.restore__btn:hover {
	color: #5ffd5c;
	transition: 0.3s ease;
}
.complete {
	text-decoration: line-through;
}
.active {
	color: #37a7ff;
}
